.landingPage {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap:10rem;

    min-height: 90vh;
    padding: 3rem;
}

.landingPageImage {
    object-fit: contain;
    min-width: 30rem;
    height: 60rem;
}

.landingPageImage img {
    width: 100%;
    height: 100%;
    border-radius: 50rem;

}

.landingPageText {
    line-height: 3rem;
}

.vagabondReference {
    text-align: end;
}

@media (max-width: 768px) {
    .landingPageImage {
      display: none;
    }
  }